*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-color: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.2rem;
  border: 0;
  text-decoration: none;
  text-align: center;
}
img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0.6rem;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}
.main-nav a:hover {
  color: var(--primary);
  background-color: var(--dark);
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b ";
}
.showcase {
  min-height: 400px;
  grid-area: showcase;
  background: url(img/showcase.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: calc(3rem + 0.6696vw);
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  margin-top: 0;
  color: var(--light);
  font-size: 1.3rem;
}
.top-box {
  display: grid;
  padding: 1.3rem;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow);
}
.top-box .prize {
  font-size: 2.5rem;
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  text-align: center;
  padding: 1.5rem 2rem;
}

/* info */
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  background-color: var(--primary);
  box-shadow: var(--shadow);
  padding: 3rem;
}

/* portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* Footer */
.footer {
  background-color: var(--dark);
  color: var(--light);
  margin-top: 30px;
  text-align: center;
  padding: 1rem;
}
.footer p {
  font-size: 1.2rem;
}
/* media queries for 980px */
@media screen and (max-width: 980px) {
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Queries for 850px */
@media screen and (max-width: 850px) {
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

/* Media Queries for 700px */
@media screen and (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }
  .showcase h1 {
    font-size: 2rem;
  }
  .showcase p {
    margin-top: 30px;
    font-size: 1rem;
  }
  .main-nav ul {
    grid-template-columns: 1fr;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "top-box-a"
      "top-box-b";
  }
  .boxes {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 300px) {
  body {
    margin: 10px;
  }
}
